html {
  /*background-color: #000;*/
}

body {
  font-family: "Lucida Console";
  font-size: 24px;
  /*color: #0f0;*/
}

#id-console-in {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px;
  border-color: #fff;
  border-width: 1px 0 0 0;
  /*background-color: #000;*/
  /*color: #0f0;*/
}

#id-console-out {
  /*overflow-y: scroll;*/
}
